/* FONTS */
:root {
  --ff-pp: "Poppins", sans-serif;
  --ff-os: "Open Sans", sans-serif;
  --fs-base: 62.5%;
  --fs-xs: 1.2rem;
  --fs-sm: 1.4rem;
  --fs-md: 1.6rem;
  --fs-lg: 2.2rem;
  --fs-xl: 2.6rem;
  --fw-lt: 300;
  --fw-rg: 400;
  --fw-sb: 600;
  --fw-xb: 700;
}

/* COLORS */
:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-pink: hsl(322, 100%, 66%);
  --clr-pale-cyan: hsl(193, 100%, 96%);
  --clr-dark-cyan: hsl(192, 100%, 9%);
  --clr-grayish-blue: hsl(208, 11%, 55%);
}

/* VALUES */
:root {
  --spacer: 5%;
}

@supports (width: clamp(1rem, 6vw, 8.2rem)) {
  :root {
    --spacer: clamp(1rem, 6vw, 8.2rem);
  }
}

/* RESETS */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: var(--fs-base);
  position: relative;
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
}

img {
  user-select: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* BUTTON */
button,
.button {
  cursor: pointer;
  transition: color 0.4s, background-color 0.4s, transform 0.4s, opacity 0.4s;
  font: inherit;
  border: none;
  display: inline-block;
}

button,
.button {
  padding: 1.5rem 6rem;
  border-radius: 10rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.155);
  font-size: var(--fs-sm);
  font-weight: var(--fw-xb);
}

.button.sm {
  padding: 0.8rem 2.7rem;
}

button:active,
.button:active {
  transform: scale(0.95);
  color: currentColor;
}

.button:hover {
  opacity: 0.7;
}

a.button:hover {
  text-decoration: none;
}

/* BODY */
body {
  background-color: var(--clr-white);
  font: var(--fw-rg) var(--fs-md) var(--ff-os);
  width: calc(100% - var(--spacer) * 2);
  margin: auto;
  padding-top: 5rem;
}

/* @supports (width: calc(100% - (clamp(1rem, 6vw, 8.2rem) * 2))) {
  body {
    width: calc(100% - (clamp(1rem, 6vw, 8.2rem) * 2));
  }
} */

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 81rem;
  background: var(--clr-pale-cyan) url("../assets/images/bg-hero-mobile.svg")
    no-repeat 0% 0% / 100% 100%;
  z-index: -1;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
}

header img {
  width: 11rem;
}

header .button {
  background-color: var(--clr-white);
  color: var(--clr-dark-cyan);
}

/* HERO */
.hero-title {
  text-align: center;
  margin-bottom: 6rem;
}

.hero-title h1 {
  color: var(--clr-dark-cyan);
  font: var(--fw-sb) var(--fs-xl) var(--ff-pp);
}

.hero-title p {
  color: var(--clr-dark-cyan);
  margin: 3rem 0;
  line-height: 1.6;
}

.hero-title .button {
  background-color: var(--clr-pink);
  color: var(--clr-white);
}

.hero-illust img {
  width: 100%;
}

/* MAIN */
main {
  margin: 13rem 0 25rem 0;
  position: relative;
}

.card {
  background-color: var(--clr-white);
  box-shadow: 0 0 1.15rem rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  text-align: center;
  padding: 5rem 3rem;
}

.card:nth-child(2) {
  margin: 4.5rem 0;
}

.card-illust {
  margin-bottom: 5rem;
}

.card-illust img {
  width: 85%;
}

.card .card-body h2 {
  font: var(--fw-sb) var(--fs-lg) var(--ff-pp);
  color: var(--clr-dark-cyan);
}

.card .card-body p {
  color: var(--clr-grayish-blue);
  margin-top: 2rem;
  line-height: 1.6;
  font-size: var(--fs-sm);
}

/* FOOTER */
footer {
  padding: 10rem var(--spacer) 7rem var(--spacer);
  width: calc(100% + var(--spacer) * 2);
  position: relative;
  right: var(--spacer);
  background-color: var(--clr-dark-cyan);
  color: var(--clr-pale-cyan);
  font-weight: var(--fw-lt);
}

footer img {
  width: 18rem;
  margin-bottom: 2.3rem;
}

address ul {
  font-style: normal;
}

address ul li {
  position: relative;
  left: 2.9rem;
  width: calc(100% - 2.9rem);
  line-height: 1.6;
}

address ul .phone {
  margin: 2rem 0;
}

address ul li::before {
  content: "";
  position: absolute;
  left: -2.9rem;
  top: 0.5rem;
  width: 1.5rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-size: 1.4rem;
}

.phone::before {
  background-image: url("../assets/images/icon-phone.svg");
}

.email::before {
  background-image: url("../assets/images/icon-email.svg");
}

.address::before {
  background-image: url("../assets/images/icon-location.svg");
}

nav {
  margin: 3.5rem 0;
}

nav ul li a {
  color: var(--clr-pale-cyan);
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul > * + * {
  margin-top: 1rem;
}

.social {
  text-align: center;
}

.social li {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 0.1rem solid var(--clr-white);
  display: inline-flex;
  transition: background-color 0.4s ease, border-color 0.4s ease;
}

.social li:hover {
  background-color: var(--clr-pink);
  border-color: var(--clr-pink);
}

.social li:nth-child(2) {
  margin: 0 1.2rem;
}

.social li a {
  margin: auto;
  display: flex;
}

.social li a img {
  width: 1.8rem;
  margin: auto;
}

.cright {
  font-family: var(--ff-pp);
  font-size: var(--fs-xs);
  text-align: center;
  margin-top: 2rem;
}

.cta {
  width: 100%;
  padding: 3rem;
  background-color: var(--clr-white);
  box-shadow: 0 0 1.15rem rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  position: absolute;
  bottom: -31rem;
  left: 50%;
  transform: translateX(-50%);
  right: 0;
  z-index: 1;
  text-align: center;
}

.cta h3 {
  font: var(--fw-sb) var(--fs-lg) var(--ff-pp);
  margin-bottom: 2.2rem;
  color: var(--clr-dark-cyan);
}

.cta .button {
  background-color: var(--clr-pink);
  color: var(--clr-white);
}

@media (max-width: 23.5em) {
  :root {
    --fs-base: 2.649vw;
  }
}

@media (min-width: 28.25em) {
  .hero-illust {
    text-align: center;
  }
  .hero-illust img {
    width: 39.77rem;
  }
}

@media (min-width: 40em) {
  .card {
    text-align: left;
    display: flex;
    gap: 3.5rem;
    padding: 6rem 4rem;
    align-items: center;
  }
  .card .card-body {
    width: calc(60% - 3.5rem);
  }
  .card .card-body p {
    font-size: var(--fs-xs);
  }
  .card .card-illust {
    margin-bottom: 0;
    display: flex;
    width: 40%;
  }
  .card .card-illust img {
    width: 100%;
  }
  .card:nth-child(1) .card-illust,
  .card:nth-child(3) .card-illust {
    order: 1;
  }
  .cta {
    width: 54rem;
    padding: 5rem;
  }
}

@media (min-width: 48em) {
  :root {
    --fs-base: 1.08vw;
  }
  body::before {
    background-image: url("../assets/images/bg-hero-desktop.svg");
  }
  header img {
    width: 14rem;
  }
  .card {
    gap: 6rem;
    padding: 4rem;
    padding-left: 6rem;
    justify-content: space-between;
  }
  .card .card-body {
    width: calc(50% - 6rem);
  }
  .card .card-body p {
    font-size: var(--fs-sm);
  }
  .card .card-illust {
    width: 50%;
    display: flex;
  }
  .card .card-illust img {
    width: 85%;
    margin: auto;
  }
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hero-title {
    margin-bottom: 0;
    text-align: left;
  }
  .hero-title {
    width: calc(57% - 12rem);
  }
  .hero-illust {
    width: 50%;
    display: flex;
  }
  .hero-illust img {
    width: min(100%, 63.8rem);
    margin-left: auto;
  }
  body::before {
    height: 55rem;
  }
  .footer-body {
    display: flex;
    gap: 6rem;
  }
  address {
    width: 40rem;
  }
  nav {
    width: 30rem;
  }
  .social {
    width: calc(100% - 60rem);
  }
  nav {
    margin: 0;
  }
  nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 65%;
  }
  nav ul li {
    margin: 0;
  }
  .cright {
    font-size: var(--fs-sm);
    text-align: right;
  }
}

@media (min-width: 64em) {
  :root {
    --fs-base: 0.9vw;
  }
  .hero-title {
    width: calc(48% - 12rem);
  }
}
