/* FONTS */
:root {
  --ff-pp: "Poppins", sans-serif;
  --ff-os: "Open Sans", sans-serif;
  --fs-md: 1.8rem;
  --fs-lg: 2.4rem;
  --fs-xl: 3.6rem;
  --fw-rg: 400;
  --fw-sb: 600;
  --fw-xb: 700;
}

/* COLORS */
:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-pink: hsl(322, 100%, 66%);
  --clr-pale-cyan: hsl(193, 100%, 96%);
  --clr-dark-cyan: hsl(192, 100%, 9%);
  --clr-grayish-blue: hsl(208, 11%, 55%);
}

/* RESETS */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  position: relative;
}

html,
body {
  height: 100%;
}

img {
  user-select: none;
}

button {
  cursor: pointer;
  transition: color 0.4s, background-color 0.4s, transform 0.4s;
  font: inherit;
  border: none;
}

button:active {
  transform: scale(0.95);
}

ul {
  list-style: none;
}

/* BODY */
body {
  background-color: var(--clr-white);
  width: calc(100% - (clamp(1rem, 6vw, 8.2rem) * 2));
  margin: auto;
}
